aiohttp==3.9.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
charset-normalizer==2.0.12
frozenlist==1.4.1
idna==3.3
multidict==6.0.2
Pillow==10.1.0
scrython==1.11.0
tqdm==4.64.0
typing_extensions==4.2.0
yarl==1.9.4
numpy==1.26.3 
